:root {
  --default-color-pink: #fa97c2;
  --default-color-blue: #2fa0d5;
  --default-color-semi-blue: #2fa0d5b0;
  --default-color-green: #73c926;
}

body {
  font-family: "Tagesschrift", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Tagesschrift", system-ui;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 60px;
  line-height: 60px;
  font-weight: 900;
}

#navbar_header ul li a {
  display: block;
  padding: 0 1.5rem;
  font-weight: bold;
  color: blueviolet;
  font-family: "Courier New", Courier, monospace;
}

#navbar_header ul li a.active {
  color: var(--default-color-blue);
}

#formSearch input {
  width: 8rem;
}

#formSearch i {
  color: var(--default-color-green);
}

#banner {
  background-image: url("./images/bg-banner.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

#banner > div {
  background: url("./images/logo_bg.png") left top no-repeat,
    url("./images/search_bg.png") right top no-repeat;
  padding: 5rem 0 3rem 0;
}

#banner a {
  background-color: var(--default-color-pink);
  color: white;
  font-family: "Tagesschrift", system-ui;
}

#banner .carousel-item {
  min-height: 15rem;
}

#carousel-banner .carousel-indicators button {
  width: 1.2rem;
  height: 1.2rem;
  border: none;
  margin: 0 0.25rem;
  border-radius: 1.2rem;
  position: relative;
}

#carousel-banner .carousel-indicators button span {
  position: absolute;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 0.6rem;
  border: none;
  top: 0.3rem;
  left: 0.3rem;
  text-align: left;
  text-indent: -9999px;
}

#carousel-banner .carousel-indicators button.active span {
  background-color: var(--default-color-green);
}

/* projects */
.readmore {
  color: var(--default-color-blue);
}

/* about us */
#aboutus {
  background-color: var(--default-color-pink);
}

#formSignup {
  border-style: dashed !important;
  border-color: rgba(0, 0, 0, 0.5) !important;
}

/* news */

#news .date {
  background-color: var(--default-color-green);
}

/* footer */
footer {
  background-image: url("./images/bg-footer.gif");
}

#menu-footer li a {
  color: white;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: block;
  padding: 0 2rem;
}

#menu-footer li a.active {
  color: var(--default-color-pink);
}

/* modal */
#formLogin button[type="submit"] {
  background-color: var(--default-color-blue);
  color: white;
}
